<?xml version="1.0" encoding="Cp1252"?>
<jnlp spec="1.0+" codebase="http://kanji.radde.org/mononara/" href="$outputFile">
    <information>
        <title>Mononara</title>
        <vendor>Nickho</vendor>
        <description>Kanji flashcard reviewer</description>
        <homepage href="http://kanji.radde.org"/>
        <offline-allowed/>
    </information>
    <security>
          <all-permissions/>
    </security>
    <resources>
 	    <j2se version="1.5+"
 	     initial-heap-size="32m"
 	     max-heap-size="128m"
 	     />
 	     $dependencies
    </resources>
    <application-desc main-class="$mainClass"/>
</jnlp>
